html {
    font-family: "YakuHanJP_Noto", "Noto Sans JP", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ Pro W3", "メイリオ", "sans-serif";
    background-color: rgb(255, 205, 205);
}
.home {
    text-align: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    margin:2% auto;
    width:50%;
    opacity: 0.8;
}

.settime {
    width: 50px;
}

.bar {
    width: 50%;
}

.error {
    color: red;
}

.nokori_box {
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 30px;
}

.nokori {
    font-size: 50px;
}

.ver {
    text-align: right;
}

.licence {
    text-align: center;
}